.list-container {
  width: 80%;
  margin: 1em auto;
  padding-top: 30px;
}

.clear-btn {
  color: hsl(180, 29%, 50%);
  font-weight: 600;
  font-size: 16px;
}

.clear-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.filter-selector {
  position: absolute;
  width: 720px;
  background-color: white;
  padding: 1.3em 2em;
  transform: translateX(-50%);
  left: 50%;
  top: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}
